[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "link/.vim/bundle/Vundle.vim"]
	path = link/.vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim
[submodule "link/.tmux/plugins/tpm"]
	path = link/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
