[user]
  name = Bobo Li
  email = bobo@robinhood.com
[push]
  default = matching
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  #pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
  #ksdiff = difftool -y -t Kaleidoscope
[color]
  status = auto
  branch = auto
  ui = auto
[merge]
  log = true
[difftool]
  prompt = false
#[difftool "Kaleidoscope"]
#  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
